{% extends 'nav.html' %}
{% block content %}
<div class="container mt-5" style="max-width:450px;">
    <h2 class="text-center mb-4">Login</h2>
    <form method="POST" class="card p-4 shadow">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Username</label>
            <input class="form-control" name="username" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Password</label>
            <input class="form-control" type="password" name="password" required>
        </div>
        <button class="btn btn-primary w-100">Login</button>
    </form>
    <p class="text-center mt-3">Don't have an account? <a href="/register/">Register</a></p>
</div>
{% endblock %}
